 <!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="ИТ-разработки, Мобильные приложения, Вебсайты, Автоматизация бизнеса">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static '/data/img/favicon.ico' %} " type="image/x-icon">
    <title>ITUnisoft - IT решения для вашего бизнеса</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'data/css/style.css' %} ">

    
</head>

<body>

    
    <nav class="nav padding-150">
        <a href="index.html" class="logo"><img src="{% static 'data/img/logo-dark.svg' %} " alt=""></a>
        <div class="nav-collapse" id="nav-collapse">
            <button class="close_menu">
                <i class="fa fa-times"></i>
            </button>
            <ul class="nav-list nav-list-center">
                <li><a href="about.html">Biz haqimizda</a></li>
                <li><a href="index.html#services-section">Xizmatlar</a></li>
                <li><a href="portfolio.html">Loyihalarimiz</a></li>
                <li><a href="index.html#partners">Mijozlar</a></li>
                <li><a href="contacts.html">Bog'lanish</a></li>
                <li><a href="vacancy.html">Vakansiya</a></li>
            </ul>
            <ul class="nav-list nav-list-right">
                <li>
                    <select name="" id="">
                        <option value=""> UZ</option>
                        <option value=""> RU</option>
                        <option value=""> EN</option>
                    </select>
                </li>
                <li class="nav-tel-number"><a href="tel:+998999999999">(99) 999-99-99</a></li>
            </ul>
        </div>
        <button class="open_menu">
            <i class="fa fa-bars"></i>
        </button>
    </nav>